<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.responseHistoryList(${apiResponse.method},${apiResponse.path})}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/app/style.css}"/>
</head>
<body th:with="hasApi=${api != null}">

<nav th:replace="nav :: #topNav"></nav>

<div class="container">

    <h2 th:text="#{title.responseHistoryList(${apiResponse.method},${apiResponse.path})}"></h2>

    <form method="post">
        <table class="table table-striped">
            <tr>
                <th>
                    <label>
                        <input type="checkbox" id="toggleCheckboxes"/>
                    </label>
                </th>
                <th></th>
                <th th:text="#{dataKey}" th:if="${hasApi}"></th>
                <th th:text="#{httpStatusCode}"></th>
                <th th:text="#{description}"></th>
                <th th:text="#{createdAt}"></th>
            </tr>
            <tr th:each="apiResponseHistory : ${apiResponseList}" th:object="${apiResponseHistory}">
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="subIds" th:value="*{subId}"/>
                        </label>
                    </div>
                </td>
                <td><a class="btn btn-default"
                       th:href="@{/manager/responses/{id}/histories/{subId}(id=*{id},subId=*{subId})}">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    <span th:text="#{action.view}"></span>
                </a>
                </td>
                <td th:text="*{dataKey}" th:if="${hasApi}"></td>
                <td th:text="*{statusCode}"></td>
                <td th:text="*{description}"></td>
                <td th:text="*{#temporals.format(createdAt,'uuuu/MM/dd HH:mm:ss')}"></td>
            </tr>
        </table>
        <div class="form-group">
            <button type="button" class="btn btn-default" name="delete" data-toggle="modal"
                    data-target="#deleteModal" disabled="disabled" th:if="${not #lists.isEmpty(apiResponseList)}">
                <span class="glyphicon glyphicon-trash"></span>
                <span th:text="#{action.delete}"></span>
            </button>
        </div>
        <div th:replace="dialog :: #deleteModal"></div>
    </form>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-10">
                <a class="btn btn-default" th:href="@{/manager/responses/{id}(id=${apiResponse.id})}">
                    <span class="glyphicon glyphicon-hand-left"></span>
                    <span th:text="#{title.responseForm}"></span>
                </a>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/app/response/historyList.js}"></script>

</body>
</html>