<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mock response</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
    <h2>Mock response</h2>

    <form th:object="${mockApiResponseForm}" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
            <label for="path" class="col-sm-2 control-label">API</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="path" placeholder="Request Path" th:field="*{path}" th:readonly="${mockApiResponse != null}"/>
                <span th:errors="*{path}"></span>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="method" placeholder="HTTP Method" th:field="*{method}" th:readonly="${mockApiResponse != null}"/>
                <span th:errors="*{method}"></span>
            </div>
            <label for="statusCode" class="col-sm-2 control-label">HTTP Status Code</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="statusCode" placeholder="HTTP Status Code" th:field="*{statusCode}"/>
                <span th:errors="*{statusCode}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="header" class="col-sm-2 control-label">HTTP Headers</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="header" placeholder="HTTP Headers" rows="3" th:field="*{header}"/>
                <span th:errors="*{header}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="body" class="col-sm-2 control-label">HTTP Body</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="body" placeholder="HTTP Body" rows="20" th:field="*{body}"/>
                <span th:errors="*{body}"></span>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <input type="file" class="form-control" id="file" placeholder="Upload File" rows="20" th:field="*{file}"/>
                <span th:errors="*{file}"></span>
            </div>
            <div class="col-sm-offset-2 col-sm-10" th:if="${mockApiResponse != null and mockApiResponse.fileName != null}">
                <a th:href="@{/manager/mocks/{id}/file(id=${mockApiResponse.id})}" th:text="${mockApiResponse.fileName}"/>
                <input type="checkbox" id="deleteFile" th:field="*{deleteFile}"/><label for="deleteFile"> Remove ?</label>
            </div>
        </div>
        <div class="form-group">
            <label for="waitingMsec" class="col-sm-2 control-label">Waiting Millisecond</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="waitingMsec" placeholder="Waiting Millisecond" th:field="*{waitingMsec}"/>
                <span th:errors="*{waitingMsec}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" placeholder="Description" rows="3" th:field="*{description}"/>
                <span th:errors="*{description}"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" name="create" class="btn btn-default" th:if="${mockApiResponse == null}">Create</button>
                <button type="submit" name="update" class="btn btn-default" th:if="${mockApiResponse != null}">Update</button>
                <button type="submit" name="delete" class="btn btn-default" th:if="${mockApiResponse != null}" onclick="return confirm('Does delete ?')">Delete</button>
            </div>
        </div>
    </form>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-default" th:href="@{/manager/mocks}">Back to list</a>
                <a class="btn btn-default" th:href="@{/manager/mocks/{id}/histories(id=${mockApiResponse.id})}" th:if="${mockApiResponse != null}">Go to histories</a>
            </div>
        </div>
    </div>


</div>
</body>
</html>